.bannerWrapper{
    background: url("../../images/bg-desktop-light.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    display: block;
}